<h1>Register New Launch</h1>
<hr>
<div class="col-md-6">

    <form #newLaunchForm="ngForm" (ngSubmit)="registerNewLaunch(newLaunchForm.value)" autocomplete="off" novalidate>
        <div ngModelGroup="mission">
            <div class="form-group">
                <label for="title">Launch Title</label>
                <em *ngIf="newLaunchForm.controls.title?.invalid && newLaunchForm.controls.title?.touched">Title must be
                    filled in</em>
                <input type="text" [(ngModel)]="launch.mission.title" id="title" name="title" class="form-control" placeholder="Enter a title for the launch..."
                    required />
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea [(ngModel)]="launch.mission.notes" name="notes" class="form-control" rows="10" placeholder="Enter notes about the launch here..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
    </form>

</div>